
.logo {
    color: #0000ff;
    text-align: center;
}
.inp-form {
    display: flex;
}

.date-div {
    display: flex;
    align-items: center;
}
.date-inp {
   height: 30px;
   margin-left: 10px;
}
.curr-date {
    margin-top: 20px;
}
.date {
    margin-left: 250px;
    margin-top: 50px;
}
.weight {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    margin-left: 300px;
}
.weight-inp {
    height: 25px;
}
.submit {
    height: 30px;
    margin-top: 7px;
    background: #016ABC;
    color: #fff;
    border: 1px solid #eee;  
    box-shadow: 5px 5px 5px #eee;
    text-shadow:none;
}
.submit:hover {
    height: 30px;
    margin-top: 7px;
    background: #B9DFFF;
    color: #fff;
    box-shadow: 5px 5px 5px #eee;
    text-shadow:none;
    border: 1px solid #eee;
    
    }

.title {
    margin-top: 50px;
    text-align: center;
}
ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
li {
    display: flex;
    align-items: center;
    width: 450px;
    padding: 1rem;
    margin-bottom: 1rem;
    background: #f4f4f4;
    border-radius: 4px;
  }
.li-time {
    margin-right: 20px;
}
.li-weight {
    margin-left: 10px;
}
.delete {
    margin-left: 80px;
    background-color: red; 
    color: white;
    height: 30px;
    width: 80px;
     }
  